
*, *::before, *::after {
  box-sizing: border-box;
}


* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #202733;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}


p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}


p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}



.card{
  background-color: #313A48;
  border-radius: 10px;
  margin-top: 126px;
  margin-inline: 18px;
  box-shadow: 30px 50px 80px 0px #0000001A;
  padding-left: 24px;
  padding-left: 24px;
  padding-top: 70px;
  padding-bottom: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h4 {
  color: #53FFAA;
  text-align: center;
  font-size: 11px;
  font-weight: 800;
  line-height: 15.03px;
  letter-spacing: 3.45px;
  text-align: center;
  text-decoration-skip-ink: none;
}

p {
  font-size: 24px;
  font-weight: 800;
  line-height: 32.78px;
  letter-spacing: -0.25px;
  text-align: center;
  text-decoration-skip-ink: none;
  color: #CEE3E9;
  margin-top: 24px;
}

h3 {
  font-size: 16px;
  font-weight: 700;
  line-height: 32.78px;
  letter-spacing: -0.257px;
  text-align: center;
  text-decoration-skip-ink: none;
  color: #CEE3E9;
  margin-top: 24px;
}

.slider{
  margin-inline: auto;
  margin-top: 24px;
}

button{
  border-radius: 10000px;
  padding: 30px;
  background: url(../img/shape-img.jpg) no-repeat center #53FFAA;
  position: absolute;
  top: 40px;
  left: -30px;
  border: 1px solid transparent;
}

.button{
  position: relative;
}

@media(width>1000px){
  .card-inner{
    max-width: 650px;
    margin-inline: auto;
  }
}